.answer {
  margin-top: 2px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  max-width: 394px;
  padding-top: 5px;
  padding-bottom: 5px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 12px 0 rgba(32, 32, 41, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.answer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answer:nth-child(3),
.answer:nth-child(4) {
  margin-top: 0;
}
